<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- ADMIN PAGE -->

<!-- Page 1 -->
<div class="container-fluid adminPanelPage1" *ngIf="adminPage">
  <div class="container loginForm">
    <h1 class="adminTitle">Media8 Admin Portal</h1>
    <input class="adminEmailInput" type="email" [(ngModel)]="adminEmail" placeholder="Email" required/> <br />
    <input class="adminPassworkInput" type="password" [(ngModel)]="adminPassword" placeholder="Password" required/> <br />
    <button class="loginButton" (click)="login()">Login</button>
  </div>

</div>



    <!-- <div class="container media8Img">
      <img class="media8Logo1" src="../assets/media8Logo.png" align="middle"/>
    </div> -->

<div class="adminPanelPage2" *ngIf="adminPage2">
  <div class="container-fluid" >
    <div class="row">
      <div class="col"></div>
      <div class="col-6">
        <img class="media8Logo1" src="../assets/media8Logo.png" align="middle"/>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container-fluid bottomButtons">
          <button class="addPodcastButton1" (click)="openPage4()">Add podcast to an existing network</button>
          <button class="addPodcastButton2" (click)="openPage3()">Add podcast to a new network</button>
        </div>
      </div>
    </div>
  </div>
</div>



    <!-- <div class="buttonPanelPage2">
      <button class="addPodcastButton1">Add podcast to an existing network</button>
      <button class="addPodcastButton2" >Add podcast to a new network</button>
    </div> -->


<div class="container-fluid adminPanelPage3" *ngIf="adminPage3">
  <div class="container">
    <h1>Add a new network</h1><br />
    <input class="networkName" placeholder="Network Name" #name/><br />
    <textarea class="networkBio" placeholder="Network Bio" #bio></textarea><br />
    <p>
      Profile Picture
    </p>
    <input type="file" [(ngModel)]="networkProfilePicture" #profilePicture/> <br />
    <i class="icon icon-facebook"></i>
    <input class="fbLink" placeholder="Facebook Link..." #fb/><br />
    <i class="icon icon-twitter"></i>
    <input class="twitterLink" placeholder="Twitter Link..." #twitter/><br />
    <i class="icon icon-youtube"></i>
    <input class="youtubeLink" placeholder="Youtube Link..." #youtube/><br />
    <i class="icon icon-itunes"></i>
    <input class="itunesLink" placeholder="Itunes Link..." #itunes/><br />
    <i class="icon icon-spotify"></i>
    <input class="spotifyLink" placeholder="Spotify Link..." #spotify/><br />

    <button (click)="submitNetwork(name,bio,profilePicture,fb,twitter,youtube,itunes,spotify)">Submit</button>
  </div>

</div>

<!-- Page 4 -->

<div class="container-fluid adminPanelPage4" *ngIf="adminPage4">
  <div class= "container">

  <h1>Add Podcast</h1><br />

  <select class="networkSelect" name="Network">
    <option *ngFor="let network of networks" [value]="network">
          {{network}}
    </option>
  </select><br />

  <select class= "seasonSelect" name="Season">
  <option *ngFor="let season of seasons" [value]="season">
          {{season}}
    </option>
  </select><br />

  <button class="newSeasonButton" (click)="createNewSeason()">New Season</button><br />

  <input class="episodeNumber" placeholder="Episode Num" #epidsodenum/>
  <input class="episodeTitle" placeholder="Episode Title" #episodetitle/><br />

  <textarea class="podcastDescription" placeholder="Podcast Description" #podcastdesc></textarea><br />
  <textarea class="podcastNotes" placeholder="Podcast Notes" #podcastnotes></textarea><br />

  <select class= "categorySelect" name="Category">
  <option *ngFor="let catagory of categories" [value]="categories">
          {{catagory}}
    </option>
  </select><br />

  <div>
    <form action="">
      <input class= "linkSelector" type="radio" name="link" value="youtubelink"> <input placeholder="Youtube Link" #youtube/><br>
      <input class= "linkSelector" type="radio" name="link" value="soundcloudlink"> <input placeholder="SoundCloud Link" #soundcloud/><br>
      <input class= "linkSelector" type="radio" name="link" value="spotifylink"> <input placeholder="Spotify Link" #spotify/><br>
    </form>
  </div>


  <button class="submitButton" (click)="submitToExistingNetwork(network,episodenum,episodetitle,podcastdesc,podcastnotes,youtube,soundcloud,spotify)">Submit</button>

  </div>
</div>
