<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ng4-loading-spinner> </ng4-loading-spinner>

<!-- VIEW PODCAST PAGE -->
<div class="container-fluid viewPodcastPage" *ngIf="page=='viewPodcast'">
  <div class="viewPodcastPageSidenav">
    <img class="sidenavLogo" src="../assets/media8Logo.png"/><br/>
    <button class="goHomeBtn2" (click)="goToHomePage()">Home</button>
  </div>
  <div class="podcastContainer">
    <iframe class="podcastViewer" [src]="podcastViewed.linkValue | noSanitize"></iframe>
    <p class="infoSeasonEp">S{{podcastViewed.season}}-EP{{podcastViewed.episode}}</p>
    <p class="infoUploadDate">Posted {{podcastViewed.uploadDate}}</p>
    <div class="seasonContainer">
      <p>{{podcastViewed.title}}</p>
      <p>Season container</p>
    </div>
  </div>
    <div class="infoContainer">
      <h1 class="podcastTitle">{{podcastViewed.title}}</h1>
      <p class="card-category">{{podcastViewed.category}}</p>
      <p class="card-text">{{podcastViewed.desciption}}</p>
      <h2 class="card-views">{{podcastViewed.views}} views</h2>
    </div>
</div>

<!-- HOME PAGE-->
<div class="container-fluid homePage1" *ngIf="page=='homePage'" href="#/home">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img class="navbarLogo" src="../assets/media8Logo.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" data-toggle="modal" data-target="#exampleModalCenter" href="#">Category</a>
          <a class="dropdown-item" href="#">Latest</a>
          <a class="dropdown-item" href="#">Most Popular</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Sort by Category</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action" *ngFor="let category of categories" (click)="filterByCategory(category)">{{category}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid podcasts">

    <!-- grid -->
    <div class="row">
        <div class="col" *ngFor="let podcast1 of podcasts; trackBy: trackByFn">
          <div class="card" (click)="increaseViews(podcast1)">
            <iframe [src]="podcast1.linkValue | noSanitize"></iframe>

            <div class="card-body">
              <h5 class="card-title">{{podcast1.title}}</h5>
              <p class="card-seasonEp">{{podcast1.networkName}}, S{{podcast1.season}} EP{{podcast1.episode}}</p>
              <p class="card-category">{{podcast1.category}}</p>
              <p class="card-text">{{podcast1.desciption}}</p>
              <p class="card-views">{{podcast1.views}} views</p>
              <p class="card-uploadDate">Posted {{podcast1.uploadDate}}</p>
            </div>
          </div>
        </div>
    </div>
  </div>

  <ng-template #noPodcasts>
    <hr />
    <h5>There are no Podcasts</h5>
  </ng-template>
</div>

<!-- ADMIN PAGE -->

<!-- Page 1 -->
<div class="container-fluid adminPanelPage1" *ngIf="page=='adminPage1'">
  <div class="container loginForm">
    <h1 class="adminTitle">Media8 Admin Portal</h1>
    <input class="adminEmailInput" type="email" [(ngModel)]="adminEmail" placeholder="Email" required/> <br />
    <input class="adminPassworkInput" type="password" [(ngModel)]="adminPassword" placeholder="Password" required/> <br />
    <button class="loginButton" (click)="login()">Login</button>
  </div>

</div>



    <!-- <div class="container media8Img">
      <img class="media8Logo1" src="../assets/media8Logo.png" align="middle"/>
    </div> -->

<div class="adminPanelPage2" *ngIf="page=='adminPage2'">
  <div class="container-fluid" >
    <button class="goHomeBtn" (click)="goHomeFromAdmin()">Home</button>
    <div class="container">
      <img class="media8Logo1" src="../assets/media8Logo.png" align="middle"/>
    </div>
    <div class="container-fluid bottomButtons">
      <div class="bottomButtonsContainer">
        <button class="addPodcastButton1" (click)="openPage4()">Add podcast to an existing network</button>
        <button class="addPodcastButton2" (click)="openPage3()">Add podcast to a new network</button>
      </div>

    </div>
  </div>
</div>



    <!-- <div class="buttonPanelPage2">
      <button class="addPodcastButton1">Add podcast to an existing network</button>
      <button class="addPodcastButton2" >Add podcast to a new network</button>
    </div> -->


<div class="container-fluid adminPanelPage3" *ngIf="page=='adminPage3'">
  <div class="container">
    <h1>Add a new network</h1><br />
    <p style="text-decoration: underline">
      Basic info (Required)
    </p>
    <input class="networkName" placeholder="Network Name" #name/><br />
    <textarea class="networkBio" placeholder="Network Bio" #bio></textarea><br />
    <br /><p style="text-decoration: underline">
      Profile Picture (Required)
    </p>
    <input type="file" (change)="detectFiles($event)"/> <br />

    <br /><p style="text-decoration: underline">
      Social Media Links (Optional)
    </p>
    <i class="icon icon-facebook" style="color: #4867AD"></i>
    <input class="fbLink" placeholder="Facebook Link..." #fb/><br />
    <i class="icon icon-twitter" style="color: #48A0EB"></i>
    <input class="twitterLink" placeholder="Twitter Link..." #twitter/><br />
    <i class="icon icon-youtube" style="color: #EB3324" ></i>
    <input class="youtubeLink" placeholder="Youtube Link..." #youtube/><br />
    <i class="icon icon-itunes" style="color: #E46976" ></i>
    <input class="itunesLink" placeholder="Itunes Link..." #itunes/><br />
    <i class="icon icon-spotify" style="color: #65D36E" ></i>
    <input class="spotifyLink" placeholder="Spotify Link..." #spotify/><br />

    <button (click)="submitNetwork(name,bio,fb,twitter,youtube,itunes,spotify)" data-toggle="modal" data-target="#exampleModalCenter">Submit</button>
  </div>

  <!-- Modal -->
  <div class="successModal" *ngIf="uploadSuccess">
    <div class="succesModalBackDrop"></div>
    <div class="successModalContent">
      <h1>Network added success!</h1>
      <h3>Would you like to add a podcast for this network?</h3>
      <button (click)=addPodcastFromNewNetwork()>Yes</button>
      <button class="successModalNoBtn" (click)="goHome()">No</button>
    </div>
  </div>

</div>

<!-- Page 4 -->

<div class="container-fluid adminPanelPage4" *ngIf="page=='adminPage4'">
  <div class= "container">

  <br /><h1>Add Podcast</h1><br />

  <p class="networkTxt">
    Network
  </p><br />
  <select class="networkSelect" name="Network" [(ngModel)]="network" (ngModelChange)="networkChanged($event)">
    <option *ngFor="let network of networks" [ngValue]="network">
          {{network.networkName}}
    </option>
  </select><br /><br />

  <p class="seasonTxt">
    Season
  </p>
  <p class="episodeTxt">
    Episode
  </p><br />

  <select class="seasonSelect" name="Season" [(ngModel)]="season">
  <option *ngFor="let season of seasons" [ngValue]="season">
          {{season.season}}
    </option>
  </select>
  <input class="episodeNumber" placeholder="{{season.epCount}}" [(ngModel)]="season.epCount" readonly/><br />


  <button class="newSeasonButton" (click)="newSeason(seasons)">New Season</button><button class="newEpisodeButton" (click)="addEp()">New Ep</button><br /><br />

  <p class="episodeTitleTxt">
    Episode Title
  </p><br />

  <input class="episodeTitle" placeholder="Episode Title" #episodetitle/><br /><br />

  <p class="descriptionTxt">
    Description
  </p><br />
  <textarea class="podcastDescription" placeholder="Podcast Description" #podcastdesc></textarea><br /><br />
  <p class="notesTxt">
    Notes
  </p><br />
  <textarea class="podcastNotes" placeholder="Podcast Notes" #podcastnotes></textarea><br /><br />

  <p class="categoryTxt">
    Category
  </p><br />
  <select class= "categorySelect" name="Category" [(ngModel)]="category">
  <option *ngFor="let category of categories" [value]="category">
          {{category}}
    </option>
  </select><br />

  <!-- <div>
    <form action="Link Select">
      <input class= "linkSelector" type="radio" name="link" value="youtubelink"> <input placeholder="Youtube Link" #link/><br>
      <input class= "linkSelector" type="radio" name="link" value="soundcloudlink"> <input placeholder="SoundCloud Link" #link/><br>
      <input class= "linkSelector" type="radio" name="link" value="spotifylink"> <input placeholder="Spotify Link" #link/><br>
    </form>
  </div> -->

  <br /><p class="linkTxt">
    Link to podcast
  </p><br />

  <select class="networkSelect" [(ngModel)]="linkType">
    <option [value]="'youtube'" >
          Youtube
    </option>
    <option [value]="'soundcloud'">
          SoundCloud
    </option>
    <option [value]="'spotify'">
          Spotify
    </option>
  </select><br />
  <input class="link" placeholder="Youtube Link..." *ngIf="linkType=='youtube'" [(ngModel)]="linkValue"/>
  <input class="link" placeholder="SoundCloud Link..." *ngIf="linkType=='soundcloud'" [(ngModel)]="linkValue"/>
  <input class="link" placeholder="Spotify Link..." *ngIf="linkType=='spotify'" [(ngModel)]="linkValue"/><br />

  <!-- <button class="submitButton" (click)="submitToExistingNetwork(network,season,episodenum,episodetitle,podcastdesc,podcastnotes,category,link)">Submit</button> -->

  <button class="submitButton" (click)="submitToExistingNetwork(episodetitle,podcastdesc,podcastnotes)">Submit</button>
  <div class="successModal" *ngIf="uploadSuccess">
    <div class="succesModalBackDrop"></div>
    <div class="successModalContent">
      <h1>Podcast added success!</h1>
      <button (click)=gotBackToAdminPanel()>Done</button>
    </div>
  </div>
  </div>
</div>
